root = true

[*]
indent_style = tab
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = false
charset = utf-8

# md (GitHub shows code fences with 8 spaces)
[*.md]
indent_style = space

[*.java]
ij_java_imports_layout = java.**,|,javax.**,|,lombok.**,|,org.**,|,com.**,|,com.diffplug.**,|,*
ij_java_use_single_class_imports = true
